body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.glassmorphism {
    background: rgba(var(--bs-body-bg-rgb), 0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--bs-border-color);
}

:root {
    --gkr-primary: #2B3385;
    --gkr-primary-text: #ffffff;
}

[data-bs-theme="dark"] {
    --gkr-primary: #ffffff;
    --gkr-primary-text: #2B3385;
}

