[Unit]
Description=AI Image Scanner (FastAPI/MobileNetV3)
After=network.target

[Service]
User=root
WorkingDirectory=/mnt/sdcard/ai-scanner
ExecStart=/mnt/sdcard/ai-scanner/env-ai/bin/python3 -m uvicorn main:app --host 127.0.0.1 --port 5000
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
